* {
  font-family: 'JetBrains Mono';

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

header {
  width: 100%;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 82px auto auto auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1083px;
  height: 30px;
}

nav img {
  width: 168px;
  height: 23px;
}

body {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  background: #2C2B3D;
}

main {
  display: flex;
  justify-content: center;
  margin: 90px auto 0 auto;
  width: 100%;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 85px;
}

section p {
  text-align: center;
  
  width: 604px;
  height: 168px;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
  gap: 64px;
  list-style: none;
  font-size: 14px;
}

h1 {
  color: white;
  font-size: 36px;
  margin-bottom: 62px;
}

span {
  color: #00BFA6;
}

p, strong {
  color: #C2C2C2;
  font-family: 'Open Sans';
  font-size: 16px;
}

p span {
  font-family: 'Open Sans';
  font-weight: bold;
}

footer {
  color: white;
  font-size: 14px;
  
  /* position: absolute; */
  bottom: 23px;
  margin-left: 20px;
  right: auto;
  display: flex;
  flex-direction: row;
  margin-top: 182px;
  }

footer div{
  margin: 0 auto;
  padding: 27px 27px 0 27px;
   
  border-top: 1px solid #00BFA6;
}

